#logout {
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: none; /* Inicialmente oculto */
}

#logout h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#logout p {
    font-size: 16px;
    margin-bottom: 20px;
}

#logout .btn {
    background-color: #e74c3c;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

#logout .btn:hover {
    background-color: #c0392b;
}
