/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    background-color: #41399b;
    color: white;
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.sidebar h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #16a085;
}

/* Main content */
.content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}

/* Sección común para cada sección (Login, Dashboard, etc.) */
.section {
    display: block;
    margin-bottom: 40px;
}

/* Botones y formularios comunes */
button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

form input,
form select {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    width: 100%;
    align-self: center;
}

/* Filtros de búsqueda */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 45%;
}

.filters button {
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #2980b9;
}

/* Tablas comunes */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
    font-size: 18px;
}

td {
    font-size: 16px;
}
